go 1.21.5

use (
	./cmd/dumpper
	./cmd/import-meta-env
	./cmd/server

	./internal/graph
	./internal/graph/dto
	./internal/rest
	./internal/rest/strategies

	./pkg/exception
	./pkg/mail
	./pkg/middleware
	./pkg/model
	./pkg/models
)
